.contents__wrapper
  .slider
    .contents__banner
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?2651893653", width: '52%', height: "385px"
  .pickup
    %h2.pickup__header 
      人気のカテゴリー
      %li.pickup__header__categories
        %a レディース
        %a メンズ
        %a 家電・スマホ・カメラ
        %a おもちゃ・ホビー・グッズ
    .pickup__item
      .pickup__item__header
        .pickup__item__header__category-title  レディース新着アイテム
        .pickup__item__header__see-more もっと見る 》
      .pickup__item__bottom
        = render "category_item_image"
    .pickup__item
      .pickup__item__header
        .pickup__item__header__category-title メンズ新着アイテム
        .pickup__item__header__see-more もっと見る 》
      .pickup__item__bottom
        = render "category_item_image"
    .pickup__item
      .pickup__item__header
        .pickup__item__header__category-title 家電・スマホ・カメラ新着アイテム
        .pickup__item__header__see-more もっと見る 》
      .pickup__item__bottom
        = render "category_item_image"
    .pickup__item
      .pickup__item__header
        .pickup__item__header__category-title おもちゃ・ホビー・グッズ新着アイテム
        .pickup__item__header__see-more もっと見る 》
      .pickup__item__bottom
        = render "category_item_image"
  .pickup
    %h2.pickup__header 
      人気のブランド
      %li.pickup__header__categories
        %a シャネル
        %a ルイヴィトン
        %a シュプリーム
        %a ナイキ
    .pickup__item
      .pickup__item__header
        .pickup__item__header__category-title  シャネル新着アイテム
        .pickup__item__header__see-more もっと見る 》
      .pickup__item__bottom
        = render "brand_item_image"
    .pickup__item
      .pickup__item__header
        .pickup__item__header__category-title ルイヴィトン新着アイテム
        .pickup__item__header__see-more もっと見る 》
      .pickup__item__bottom
        = render "brand_item_image"
    .pickup__item
      .pickup__item__header
        .pickup__item__header__category-title シュプリーム新着アイテム
        .pickup__item__header__see-more もっと見る 》
      .pickup__item__bottom
        = render "brand_item_image"
    .pickup__item
      .pickup__item__header
        .pickup__item__header__category-title ナイキ新着アイテム
        .pickup__item__header__see-more もっと見る 》
      .pickup__item__bottom
        = render "brand_item_image"