%aside.app-banner
  .app-banner__pc
    .app-banner__pc__inner
      %h2 スマホでかんたんフリマアプリ
      %p 今すぐ無料ダウンロード！

      .app-banner__pc__inner__icon.clearfix
        .merucari
          = image_tag 'footer-mercari-icon.png'
        %ul.icon
          %li
            = link_to image_tag('app-store.svg',:alt => "/")
          %li
            = link_to image_tag('google-play.svg',:alt => "/")
      %li.figure
        = link_to image_tag('download_app_pc.png',:alt => "/")
.global-footer
  %nav.info
    .footer-box
      %h2.footer-head 
        メルカリについて
      %ul
        %li
          会社概要（運営会社）
        %li
          採用情報
        %li
          プレスリリース
        %li
          公式ブログ
        %li
          メルカリロゴ利用ガイドライン
        %li.footer-social-link
          =link_to "https://twitter.com/mercari_jp" , class: "footer-social-link" do
            %i.fa.fa-twitter
          =link_to "https://www.facebook.com/mercarijp" , class: "footer-social-link" do
            %i.fa.fa-facebook-square
            

    .footer-box
      %h2.footer-head 
        ヘルプ＆ガイド
      %ul
        %li
          メルカリガイド
        %li
          らくらくメルカリ便
        %li
          ゆうゆうメルカリ便
        %li
          大型メルカリ便
        %li
          車体取引ガイド
        %li
          メルカリあんしん・あんぜん宣言！
        %li
          偽ブランド品撲滅への取り組み
        %li
          メルカリボックス
    
    .footer-box.full-width
      %h2.footer-head 
        プライバシーと利用規約
      .inner-footer
        .inner-footer-box
          %ul
            %li
              プライバシーポリシー
            %li
              メルカリ利用規約
            %li
              %p
                あんしんスマホサポート制度に関
                %br する利用特約
            %li
              コンプライアンスポリシー

        .inner-footer-box
          %ul
            %li
              %p
                個人データの安全管理に係る基本
                %br 方針
            %li
              特定商取引に関する表記
            %li
              資金決済法に基づく表示
            %li
              法令順守と犯罪抑止のために
    .footer-box.footer-nav-lang
      %h2.footer-head 
        国
      %ul
        %li
          日本
        %li
          United States
  .footer-bottom
    = image_tag 'footer-logo-white.svg'
    .footer-bottom__copyright
      © 2019 Mercari