.credit-info
  .credit-info--header 支払い方法
  %br
  .credit-info--body
    .credit-info--body--name 登録クレジットカード情報
    %br
    .credit-info--body--content
      %figure
        = image_tag "#{@card_src}", width: '30', height: '20', alt: @card_brand, id: "card_image"
      .credit-info--body--content--number
        = "**** **** **** " + @default_card_information.last4
        %br
      .credit-info--body--content--data
        - exp_month = @default_card_information.exp_month.to_s
        - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
        = exp_month + " / " + exp_year
        = form_tag(delete_credit_card_index_path, method: :post, id: 'charge-form',  name: "inputForm") do
          %input{ type: "hidden", name: "card_id", value: "" }
            %button 削除する