= render 'top/header'

= render 'mypage/pankuzu'

%main.l-container.clearfix
  .l-container-box

    = render 'mypage/side'
    
    
    .userpage_home
      .userpage_home_top
        本人確認の登録
      .userpage_home_explain
        %p お客さまの本人情報をご登録ください。
        %p 登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
        = link_to '本人確認書類のアップロードについて＞', '###'
      .userpage_home_profile
        .form-group
          %label 
            お名前
          %p
            坂井 秀喜
        .form-group
          %label
            お名前カナ
          %p
            サカイ ヒデキ
        .form-group
          %label
            生年月日
          %p
            1995/12/14
      .userpage_home_form
        %form
          %label 郵便番号
          %span 任意
          %textarea{placeholder: '例）1234567', class: "input_postnum"}
          %br
          %label 都道府県
          %span 任意
          %textarea{placeholder: "東京都",class: "input_postnum"}
          %br
          %label 市区町村
          %span 任意
          %textarea{placeholder: '例）横浜市緑区',class: "input_postnum"}
          %br
          %label 番地
          %span 任意
          %textarea{placeholder: '例）青山1-1-1',class: "input_postnum"}
          %br
          %label 建物名
          %span 任意
          %textarea{placeholder: '例）柳ビル103',class: "input_postnum"}
          %br
          .btn-red
            登録する
          %br
        = link_to '本人情報登録について>', '###',class: "about_your_data"

= render 'top/footer'