.k_su_footer
  .k_su_footer__inner
    %ul.k_su_footer__inner--nav
      %li.k_su_footer__inner--nav-li 
        = link_to "プライバシーポリシー", "#", class: "k_su_footer__inner--nav-li-a"
      %li.k_su_footer__inner--nav-li
        = link_to "メルカリ利用規約", "#", class: "k_su_footer__inner--nav-li-a"
      %li.k_su_footer__inner--nav-li
        = link_to "特定商取引に関する表記", "#", class: "k_su_footer__inner--nav-li-a" 
    = link_to root_path, class: "k_su_footer__inner--logo" do
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3466462615", alt: "mercari", width: "80", height:"65"
    %p
      %small © 2019 Mercari