.l-content
  %section.mypage-user-icon
    = link_to "" , class: "mypage-detail" do
      %figure
        = image_tag 'https://static.mercdn.net/members/163773134.jpg?1561016110', alt: '', height: '60', width: '60', class: 'user-no-img'
      %h2.bold
        user name
      .mypage-number
        %div
          評価
          %span.bold
            0
        %div
          出品数
          %span.bold
            0

  %section.mypage-tab-container-notification-todo
    %ul.mypage-tabs
      %li.active
        = link_to 'お知らせ' , href: "#mypage-tab-notification", data: {toggle: "tab"}
      %li
        = link_to 'やることリスト' , href: "#maypage-tab-todo", data: {toggle: "tab"} 
    .tab-content
      %ul#mypage-tab-notification.maypage-itemlist.tabpane
        %li.mypage-item-not-found.bold お知らせの商品はありません
    -#  %ul#mypage-tab-todo.maypage-itemlist.tabpane
    -#    %li.mypage-item-not-found.bold 現在やることリストはありません
  
  %section.mypage-tab-container
    %h2.mypage-tab-head
      購入した商品
    %ul.mypage-tabs
      %li.active
        %h3
          = link_to '取引中' ,href: "#mypage-tab-transaction-now", data: {toggle: "tab"}
      %li
        %h3
          = link_to '過去の取引' ,href: "#mypage-tab-transaction-old", data: {toggle: "tab"}
    .tab-content
      %ul#mypage-tab-transaction-now.mypage-item-list.tabpane
        %li.mypage-item-not-found.bold 取引中の商品はありません
    -#  %ul#mypage-tab-transaction-old.maypage-itemlist.tabpane
    -#    %li.mypage-item-not-found.bold 過去に取引した商品はありません