.l-side
  %nav.mypage-nav
%nav.mypage-nav
  %ul.mypage-nav-list
    %li.mypage-nav-list-item
      = link_to 'マイページ', '', class: 'mypage-nav-list-item'
      %i.icon-arrow-right
    %li
      = link_to 'お知らせ', '', class: 'mypage-nav-list-item'
      %i.icon-arrow-right
    %li
      = link_to 'やることリスト', '', class: 'mypage-nav-list-item'
      %i.icon-arrow-right
    %li
      = link_to 'いいね！一覧', '', class: 'mypage-nav-list-item'
      %i.icon-arrow-right
    %li
      = link_to '出品する', '', class: 'mypage-nav-list-item'
      %i.icon-arrow-right
    %li
      = link_to '出品した商品-出品中', '', class: 'mypage-nav-list-item'
      %i.icon-arrow-right
    %li
      = link_to '出品した商品-取引中', '', class: 'mypage-nav-list-item'
      %i.icon-arrow-right
    %li
      = link_to '出品した商品-売却済', '', class: 'mypage-nav-list-item'
      %i.icon-arrow-right
    %li
      = link_to '購入した商品-取引中', '', class: 'mypage-nav-list-item'
      %i.icon-arrow-right
    %li
      = link_to '購入した商品-過去の取引', '', class: 'mypage-nav-list-item'
      %i.icon-arrow-right
    %li
      = link_to 'ニュース一覧', '', class: 'mypage-nav-list-item'
      %i.icon-arrow-right
    %li
      = link_to '評価一覧', '', class: 'mypage-nav-list-item'
      %i.icon-arrow-right
    %li
      = link_to 'ガイド', '', class: 'mypage-nav-list-item'
      %i.icon-arrow-right
    %li
      = link_to 'お問い合わせ', '', class: 'mypage-nav-list-item'
      %i.icon-arrow-right
    
    %h3.mypage-nav-head メルペイ
    %ul.mypage-nav-list
      %li.mypage-nav-list-item.active
        = link_to 'マイページ', ''
        %i.icon-arrow-right
      %li
        = link_to 'お知らせ', '', class: 'mypage-nav-list-item'
        %i.icon-arrow-right
      %li
        = link_to 'やることリスト', '', class: 'mypage-nav-list-item'
        %i.icon-arrow-right
      %li
        = link_to 'いいね！一覧', '', class: 'mypage-nav-list-item'
        %i.icon-arrow-right
      %li
        = link_to '出品する', '', class: 'mypage-nav-list-item'
        %i.icon-arrow-right
      %li
        = link_to '出品した商品-出品中', '', class: 'mypage-nav-list-item'
        %i.icon-arrow-right
      %li
        = link_to '出品した商品-取引中', '', class: 'mypage-nav-list-item'
        %i.icon-arrow-right
      %li
        = link_to '出品した商品-売却済', '', class: 'mypage-nav-list-item'
        %i.icon-arrow-right
      %li
        = link_to '購入した商品-取引中', '', class: 'mypage-nav-list-item'
        %i.icon-arrow-right
      %li
        = link_to '購入した商品-過去の取引', '', class: 'mypage-nav-list-item'
        %i.icon-arrow-right
      %li
        = link_to 'ニュース一覧', '', class: 'mypage-nav-list-item'
        %i.icon-arrow-right
      %li
        = link_to '評価一覧', '', class: 'mypage-nav-list-item'
        %i.icon-arrow-right
      %li
        = link_to 'ガイド', '', class: 'mypage-nav-list-item'
        %i.icon-arrow-right
      %li
        = link_to 'お問い合わせ', '', class: 'mypage-nav-list-item'
        %i.icon-arrow-right
      
      %h3.mypage-nav-head メルペイ
      %ul.mypage-nav-list
        %li
          = link_to '売上・振込申請', '', class: 'mypage-nav-list-item'
          %i.icon-arrow-right
        %li
          = link_to 'ポイント', '', class: 'mypage-nav-list-item'
          %i.icon-arrow-right
  
      %h3.mypage-nav-head 設定
      %li
        = link_to 'プロフィール', '', class: 'mypage-nav-list-item'
        %i.icon-arrow-right
      %li
        = link_to '発送元お届け先住所変更', '', class: 'mypage-nav-list-item'
        %i.icon-arrow-right
      %li
        = link_to '支払い方法', '', class: 'mypage-nav-list-item'
        %i.icon-arrow-right
      %li
        = link_to 'メール/パスワード', '', class: 'mypage-nav-list-item'
        %i.icon-arrow-right
      %li
        = link_to '本人情報', '', class: 'mypage-nav-list-item'
        %i.icon-arrow-right
      %li
        = link_to '電話番号の確認', '', class: 'mypage-nav-list-item'
        %i.icon-arrow-right
      %li
        = link_to 'ログアウト', '', class: 'mypage-nav-list-item'
        %i.icon-arrow-right