= render 'top/header'

= render 'mypage/pankuzu'

= render 'top/transaction-btn'

%main.l-container.clearfix
  .l-container-box
    = render 'mypage/main'

    = render 'mypage/side'

= render 'top/footer'