= render 'top-page/header'

%nav.bread-crumbs
  %ul
    %li
      = link_to 'メルカリ ', ''
      %i.icon-arrow-right
      
    %li
      マイページ

%main.l-container.clearfix
  .l-container-box
    = render 'mypage/main'

    .l-side
      = render 'mypage/side'

= render 'top-page/footer'