.user-profile
  %section.user-profile__box.clearfix
    %h2.user-profile__box__head
      = link_to do
        = @seller.user.first_name
        さんのその他の商品
    .user-profile__box__content.clearfix
    - @sellers.each do |seller|
      %section.products-box
        = link_to do
          %figure.products-box__photo
            = link_to seller.product do
              = image_tag seller.product.images[0].url
          .products-box__body
            %h3.products-box__body__name
              = seller.product.name
            .products-box__body__num
              .products-box__body__num__price
                %span ¥
                = seller.product.selling_price
              .products-box__body__num__icon
                %i.fa.fa-heart-o 
                %span
                = seller.product.likes_count

  %section.user-profile__box.clearfix
    %h2.user-profile__box__head
      = link_to do
        = @product.brand&.name 
        その他の出品
    .user-profile__box__content.clearfix
    - @nike_products.each do |nike|
      %section.products-box
        = link_to do
          %figure.products-box__photo
            = image_tag nike.images[0].url
          .products-box__body
            %h3.products-box__body__name
              = nike.name
            .products-box__body__num
              .products-box__body__num__price
                %span ¥
                = nike.selling_price
              .products-box__body__num__icon
                %i.fa.fa-heart-o 
                  = nike.likes_count