.single-container
  = render 'transaction/single-header'

  .done-body
    .done-body--head
      %h2 購入が完了しました！

    .done-body--product
      %span.done-body--product__name
        = @product.name
      .done-body--product__image
        = image_tag (@product.product_images[0].name), height: "300px", width: "300px"
        .done-body--product__image--sold
          %h2 SOLD OUT
      .done-body--foot
        = link_to root_path do
          %button > トップページへ      

= render 'products/other'

= render 'top/footer'