.top-page-pc-header
  = render "top/header"

.contents__wrapper
  .slider
    .contents__banner{id: 'slide'}
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?2651893653", width: '520', height: "385px"
      = image_tag "https://mercarinews.files.wordpress.com/2019/11/sns.jpg?w=1024", width: '520px', height: "385px"
  .pickup
    %h2.pickup__header 
      人気のカテゴリー
    .pickup__bottom
      .a1
        %a レディース
      .a2 
        %a メンズ
      .a3
        %a 家電・スマホ・カメラ
      .a4
        %a おもちゃ・ホビー・グッズ
    .pickup__item
      .pickup__item__header
        .pickup__item__header__category-title  レディース新着アイテム
        .pickup__item__header__see-more もっと見る 》
      .pickup__item__bottom
        = render partial: "top/category_item", collection: @ladies_products, as: "product"
    .pickup__item
      .pickup__item__header
        .pickup__item__header__category-title メンズ新着アイテム
        .pickup__item__header__see-more もっと見る 》
      .pickup__item__bottom
        = render partial: "top/category_item", collection: @mens_products, as: "product"
    .pickup__item
      .pickup__item__header
        .pickup__item__header__category-title 家電・スマホ・カメラ
        .pickup__item__header__see-more もっと見る 》
      .pickup__item__bottom
        = render partial: "top/category_item", collection: @babies_products, as: "product"
    .pickup__item
      .pickup__item__header
        .pickup__item__header__category-title おもちゃ・ホビー・グッズ新着アイテム
        .pickup__item__header__see-more もっと見る 》
      .pickup__item__bottom
        = render partial: "top/category_item", collection: @babies_products, as: "product"
  .pickup
    %h2.pickup__header 
      人気のブランド
    .pickup__bottom
      .b1
        %a シャネル
      .b2
        %a ナイキ
      .b3  
        %a シュプリーム
      .b4  
        %a アディダス
    .pickup__item
      .pickup__item__header
        .pickup__item__header__category-title  シャネル新着アイテム
        .pickup__item__header__see-more もっと見る 》
      .pickup__item__bottom
        = render partial: "top/category_item", collection: @chanel_products, as: "product"
    .pickup__item
      .pickup__item__header
        .pickup__item__header__category-title ナイキ新着アイテム
        .pickup__item__header__see-more もっと見る 》
      .pickup__item__bottom
        = render partial: "top/category_item", collection: @nike_products, as: "product"
    .pickup__item
      .pickup__item__header
        .pickup__item__header__category-title シュプリーム新着アイテム
        .pickup__item__header__see-more もっと見る 》
      .pickup__item__bottom
        = render partial: "top/category_item", collection: @supreme_products, as: "product"
    .pickup__item
      .pickup__item__header
        .pickup__item__header__category-title アディダス新着アイテム
        .pickup__item__header__see-more もっと見る 》
      .pickup__item__bottom
        = render partial: "top/category_item", collection: @adidas_products, as: "product"


= render "top/transaction-btn"
= render "top/footer"