.top-page-pc-header
  = render "top/header"

.contents__wrapper
  .slider
    .contents__banner.clearfix{id: 'slide'}
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?2651893653"
      = image_tag "https://mercarinews.files.wordpress.com/2019/11/sns.jpg?w=1024"
      = image_tag "https://mercarinews.files.wordpress.com/2019/12/sns_01.jpg?w=1024"
  .pickup
    %h2.pickup__header 
      人気のカテゴリー
    .pickup__bottom
      .a1
        %a レディース
      .a2 
        %a メンズ
      .a3
        %a ベビー・キッズ
      .a4
        %a 家電・スマホ・カメラ
    .pickup__item
      .pickup__item__header
        .pickup__item__header__category-title  レディース新着アイテム
        .pickup__item__header__see-more もっと見る 》
      .pickup__item__bottom
        = render partial: "top/category_item", collection: @category_no1, as: "product"
    .pickup__item
      .pickup__item__header
        .pickup__item__header__category-title メンズ新着アイテム
        .pickup__item__header__see-more もっと見る 》
      .pickup__item__bottom
        = render partial: "top/category_item", collection: @category_no14, as: "product"
    .pickup__item
      .pickup__item__header
        .pickup__item__header__category-title ベビー・キッズ新着アイテム
        .pickup__item__header__see-more もっと見る 》
      .pickup__item__bottom
        = render partial: "top/category_item", collection: @category_no27, as: "product"
    .pickup__item
      .pickup__item__header
        .pickup__item__header__category-title 家電・スマホ・カメラ新着アイテム
        .pickup__item__header__see-more もっと見る 》
      .pickup__item__bottom
        = render partial: "top/category_item", collection: @category_no40, as: "product"
        
  .pickup
    %h2.pickup__header 
      人気のブランド
    .pickup__bottom
      .b1
        %a シャネル
      .b2
        %a ナイキ
      .b3  
        %a シュプリーム
      .b4  
        %a アディダス
    .pickup__item
      .pickup__item__header
        .pickup__item__header__category-title  シャネル新着アイテム
        .pickup__item__header__see-more もっと見る 》
      .pickup__item__bottom
        = render partial: "top/category_item", collection: @brand_no1, as: "product"
    .pickup__item
      .pickup__item__header
        .pickup__item__header__category-title ナイキ新着アイテム
        .pickup__item__header__see-more もっと見る 》
      .pickup__item__bottom
        = render partial: "top/category_item", collection: @brand_no2, as: "product"
    .pickup__item
      .pickup__item__header
        .pickup__item__header__category-title シュプリーム新着アイテム
        .pickup__item__header__see-more もっと見る 》
      .pickup__item__bottom
        = render partial: "top/category_item", collection: @brand_no4, as: "product"
    .pickup__item
      .pickup__item__header
        .pickup__item__header__category-title アディダス新着アイテム
        .pickup__item__header__see-more もっと見る 》
      .pickup__item__bottom
        = render partial: "top/category_item", collection: @brand_no5, as: "product"


= render "top/transaction-btn"
= render "top/footer"