.top-page-pc-header
  = render "top/header"


.products-search
  .detailed-search
    = search_form_for @search, url: search_products_path, method: :get do |f|
      %span 詳細検索
      .detailed-search--content
        = fa_icon "plus"
        %span キーワードを追加する
        %br
        .detailed-search--content--form--keyword
          = f.search_field :name_has_every_term
      .detailed-search--content
        = fa_icon "list-ul"
        %span カテゴリーを選択する
        %br
        .detailed-search--content--form--category
          %input
      .detailed-search--content
        = fa_icon "tag"
        %span ブランド名から探す
        %br
        .detailed-search--content--form--brand
          %input
      .detailed-search--content
        = fa_icon "expand"
        %span サイズを指定する
        %br
        .detailed-search--content--form--size
          %input
      .detailed-search--content
        .detailed-search--content--form--price
          = fa_icon "jpy"
          = f.label :selling_price, '価格'
          %br
          = f.number_field :selling_price_gteq
          = f.number_field :selling_price_lteq
      .detailed-search--content
        = fa_icon "star"
        %span 商品の状態
        %br
      .detailed-search--content
        = fa_icon "truck"
        %span 配送料の負担
      .detailed-search--content
        .detailed-search--content--display
          = f.label :display, '販売状況'
          = f.radio_button :display_eq, ''
          = f.radio_button :display_eq, 0
          = f.radio_button :display_eq, 1
        
      .detailed-search--content--btn
        .detailed-search--content--btn--clear 
          = f.submit "クリア", type: :reset
        .detailed-search--content--btn--complete
          = f.submit "検索"
        
  .search-result
    .result-header
      - if @search.name_has_every_term.present?
        = @search.name_has_every_term
        の検索結果
      - else
        新着商品
    
    .result-number
      1-5件の表示
    .result-products-box
      - @products.each do |product|
        .result__product
          =link_to product_path(product.id),method: :get do
            .result__product__image
              = image_tag product.product_images[0].name, height: "160px", width: "160px"
              - if product.display == 1
                .result__product__name-box--sold SOLDOUT
              %p
                ¥
                = product.selling_price
              %span 
                = product.name
.product-search-bottom
  .product-bottom__nav
    = link_to root_path do
      メルカリ
    %i.fa.fa-angle-right
  .product-bottom__nav
    %span 
    = @search.name_has_every_term

= render "top/transaction-btn"
= render "top/footer"